In [68]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import json
import re
import lxml.html as lh
import datetime as dt

### Global confirmed corona cases

In [69]:
df = pd.read_csv('time_series_covid19_confirmed_global.csv')
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,521,555,607,665,714,784,840,906,933,996
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,416,433,446,467,475,494,518,539,548,562
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1761,1825,1914,1983,2070,2160,2268,2418,2534,2629
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,601,601,638,646,659,673,673,696,704,713
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,4,4,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [70]:
df['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Diamond Princess', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'US', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Zambia', 'Zimbabwe', 'Dominica', 'Grenada',
       'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya',
       'West Bank and Gaza', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'Kosovo', 'Burma', 'MS Zaandam',
       'Botswana', 'Burundi', 'Sierra Leone', 'Malawi', 'South Sudan',
       'Western Sahara', 'Sao Tome and Principe', 'Yemen'], dtype=object)

In [71]:
data_EU_US = df[df['Country/Region'].isin(['Andorra', 'Albania', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
                                          'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 
                                          'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein',
                                          'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands',
                                          'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino',
                                          'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine',
                                          'United Kingdom', 'US', 'Venezuela'])]
data_EU_US

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,416,433,446,467,475,494,518,539,548,562
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,601,601,638,646,659,673,673,696,704,713
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,13555,13806,13945,14041,14226,14336,14476,14595,14671,14749
22,NaN,Belarus,53.7098,27.9534,0,0,0,0,0,0,...,1981,2226,2578,2919,3281,3728,4204,4779,4779,4779
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,26667,28018,29647,30589,31119,33573,34809,36138,37183,38496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,British Virgin Islands,United Kingdom,18.4207,-64.6400,0,0,0,0,0,0,...,3,3,3,3,3,3,3,4,4,4
251,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,0,0,0,0,0,0,...,8,8,9,10,10,10,11,11,11,11
256,"Bonaire, Sint Eustatius and Saba",Netherlands,12.1784,-68.2385,0,0,0,0,0,0,...,2,2,3,3,3,3,3,3,3,5
258,Falkland Islands (Malvinas),United Kingdom,-51.7963,-59.5236,0,0,0,0,0,0,...,5,5,5,5,11,11,11,11,11,11
259,Saint Pierre and Miquelon,France,46.8852,-56.3159,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [72]:
df_countries_only = data_EU_US[data_EU_US['Province/State'].isna()]
df_countries_only

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,416,433,446,467,475,494,518,539,548,562
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,601,601,638,646,659,673,673,696,704,713
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,13555,13806,13945,14041,14226,14336,14476,14595,14671,14749
22,NaN,Belarus,53.7098,27.9534,0,0,0,0,0,0,...,1981,2226,2578,2919,3281,3728,4204,4779,4779,4779
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,26667,28018,29647,30589,31119,33573,34809,36138,37183,38496
27,NaN,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,...,901,946,1009,1037,1083,1110,1167,1214,1268,1285
30,NaN,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,...,635,661,675,685,713,747,800,846,878,894
87,NaN,Croatia,45.1000,15.2000,0,0,0,0,0,0,...,1495,1534,1600,1650,1704,1741,1791,1814,1832,1871
90,NaN,Cyprus,35.1264,33.4299,0,0,0,0,0,0,...,595,616,633,662,695,715,735,750,761,767
91,NaN,Czechia,49.8175,15.4730,0,0,0,0,0,0,...,5732,5831,5991,6059,6111,6216,6433,6549,6606,6746
94,NaN,Denmark,56.2639,9.5018,0,0,0,0,0,0,...,5819,5996,6174,6318,6511,6681,6879,7073,7242,7384
102,NaN,Estonia,58.5953,25.0136,0,0,0,0,0,0,...,1258,1304,1309,1332,1373,1400,1434,1459,1512,1528
106,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,2769,2905,2974,3064,3161,3237,3369,3489,3681,3783
116,NaN,France,46.2276,2.2137,0,0,2,3,3,3,...,90676,93790,120633,124298,130253,133470,145960,147969,147969,152894
120,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,122171,124908,127854,130072,131359,134753,137698,141397,143342,145184
122,NaN,Greece,39.0742,21.8243,0,0,0,0,0,0,...,2011,2081,2114,2145,2170,2192,2207,2224,2235,2235
129,NaN,Hungary,47.1625,19.5033,0,0,0,0,0,0,...,1190,1310,1410,1458,1512,1579,1652,1763,1834,1916
130,NaN,Iceland,64.9631,-19.0208,0,0,0,0,0,0,...,1675,1689,1701,1711,1720,1727,1739,1754,1760,1771
135,NaN,Ireland,53.1424,-7.6921,0,0,0,0,0,0,...,8089,8928,9655,10647,11479,12547,13271,13980,14758,15251
137,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,147577,152271,156363,159516,162488,165155,168941,172434,175925,178972
146,NaN,Latvia,56.8796,24.6032,0,0,0,0,0,0,...,612,630,651,655,657,666,675,682,712,727
149,NaN,Liechtenstein,47.1400,9.5500,0,0,0,0,0,0,...,79,79,79,79,79,79,79,79,79,81
150,NaN,Lithuania,55.1694,23.8813,0,0,0,0,0,0,...,999,1026,1053,1062,1070,1091,1128,1149,1239,1298
151,NaN,Luxembourg,49.8153,6.1296,0,0,0,0,0,0,...,3223,3270,3281,3292,3307,3373,3444,3480,3537,3550
155,NaN,Malta,35.9375,14.3754,0,0,0,0,0,0,...,350,370,378,384,393,399,412,422,426,427
159,NaN,Moldova,47.4116,28.3699,0,0,0,0,0,0,...,1438,1560,1662,1712,1934,2049,2154,2264,2378,2472
160,NaN,Monaco,43.7333,7.4167,0,0,0,0,0,0,...,90,92,93,93,93,93,93,94,94,94
162,NaN,Montenegro,42.5000,19.3000,0,0,0,0,0,0,...,255,263,272,274,283,288,303,303,307,308
169,NaN,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,23097,24413,25587,26551,27419,28153,29214,30449,31589,32655
174,NaN,North Macedonia,41.6086,21.7453,0,0,0,0,0,0,...,711,760,828,854,908,974,1081,1117,1170,1207
175,NaN,Norway,60.4720,8.4689,0,0,0,0,0,0,...,6314,6409,6525,6603,6623,6740,6896,6937,7036,7078
183,NaN,Poland,51.9194,19.1451,0,0,0,0,0,0,...,5955,6356,6674,6934,7202,7582,7918,8379,8742,9287
184,NaN,Portugal,39.3999,-8.2245,0,0,0,0,0,0,...,15472,15987,16585,16934,17448,18091,18841,19022,19685,20206
186,NaN,Romania,45.9432,24.9668,0,0,0,0,0,0,...,5467,5990,6300,6633,6879,7216,7707,8067,8418,8746
187,NaN,Russia,60.0000,90.0000,0,0,0,0,0,0,...,11917,13584,15770,18328,21102,24490,27938,32008,36793,42853
191,NaN,San Marino,43.9424,12.4578,0,0,0,0,0,0,...,344,356,356,356,371,372,426,435,455,461
194,NaN,Serbia,44.0165,21.0059,0,0,0,0,0,0,...,3105,3380,3630,4054,4465,4873,5318,5690,5994,6318
197,NaN,Slovakia,48.6690,19.6990,0,0,0,0,0,0,...,715,728,742,769,835,863,977,1049,1089,1161
198,NaN,Slovenia,46.1512,14.9955,0,0,0,0,0,0,...,1160,1188,1205,1212,1220,1248,1268,1304,1317,1330
201,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,158273,163027,166831,170099,172541,177644,184948,190839,191726,198674
205,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,9685,10151,10483,10948,11445,11927,12540,13216,13822,14385
206,NaN,Switzerland,46.8182,8.2275,0,0,0,0,0,0,...,24551,25107,25415,25688,25936,26336,26732,27078,27404,27740
213,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,47029,52167,56956,61049,65111,69392,74193,78546,82329,86306
215,NaN,Ukraine,48.3794,31.1656,0,0,0,0,0,0,...,2203,2511,2777,3102,3372,3764,4161,4662,5106,5449
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,73758,78991,84279,88621,93873,98476,103093,108692,114217,120067
225,NaN,US,37.0902,-95.7129,1,1,2,2,5,5,...,496535,526396,555313,580619,607670,636350,667592,699706,732197,759086
227,NaN,Venezuela,6.4238,-66.5897,0,0,0,0,0,0,...,171,175,181,189,189,197,204,204,227,256

In [73]:
data_clean = df_countries_only.drop(['Province/State'], axis=1)
data_clean

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,416,433,446,467,475,494,518,539,548,562
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,601,601,638,646,659,673,673,696,704,713
16,Austria,47.5162,14.5501,0,0,0,0,0,0,0,...,13555,13806,13945,14041,14226,14336,14476,14595,14671,14749
22,Belarus,53.7098,27.9534,0,0,0,0,0,0,0,...,1981,2226,2578,2919,3281,3728,4204,4779,4779,4779
23,Belgium,50.8333,4.0000,0,0,0,0,0,0,0,...,26667,28018,29647,30589,31119,33573,34809,36138,37183,38496
27,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,0,...,901,946,1009,1037,1083,1110,1167,1214,1268,1285
30,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,0,...,635,661,675,685,713,747,800,846,878,894
87,Croatia,45.1000,15.2000,0,0,0,0,0,0,0,...,1495,1534,1600,1650,1704,1741,1791,1814,1832,1871
90,Cyprus,35.1264,33.4299,0,0,0,0,0,0,0,...,595,616,633,662,695,715,735,750,761,767
91,Czechia,49.8175,15.4730,0,0,0,0,0,0,0,...,5732,5831,5991,6059,6111,6216,6433,6549,6606,6746
94,Denmark,56.2639,9.5018,0,0,0,0,0,0,0,...,5819,5996,6174,6318,6511,6681,6879,7073,7242,7384
102,Estonia,58.5953,25.0136,0,0,0,0,0,0,0,...,1258,1304,1309,1332,1373,1400,1434,1459,1512,1528
106,Finland,64.0000,26.0000,0,0,0,0,0,0,0,...,2769,2905,2974,3064,3161,3237,3369,3489,3681,3783
116,France,46.2276,2.2137,0,0,2,3,3,3,4,...,90676,93790,120633,124298,130253,133470,145960,147969,147969,152894
120,Germany,51.0000,9.0000,0,0,0,0,0,1,4,...,122171,124908,127854,130072,131359,134753,137698,141397,143342,145184
122,Greece,39.0742,21.8243,0,0,0,0,0,0,0,...,2011,2081,2114,2145,2170,2192,2207,2224,2235,2235
129,Hungary,47.1625,19.5033,0,0,0,0,0,0,0,...,1190,1310,1410,1458,1512,1579,1652,1763,1834,1916
130,Iceland,64.9631,-19.0208,0,0,0,0,0,0,0,...,1675,1689,1701,1711,1720,1727,1739,1754,1760,1771
135,Ireland,53.1424,-7.6921,0,0,0,0,0,0,0,...,8089,8928,9655,10647,11479,12547,13271,13980,14758,15251
137,Italy,43.0000,12.0000,0,0,0,0,0,0,0,...,147577,152271,156363,159516,162488,165155,168941,172434,175925,178972
146,Latvia,56.8796,24.6032,0,0,0,0,0,0,0,...,612,630,651,655,657,666,675,682,712,727
149,Liechtenstein,47.1400,9.5500,0,0,0,0,0,0,0,...,79,79,79,79,79,79,79,79,79,81
150,Lithuania,55.1694,23.8813,0,0,0,0,0,0,0,...,999,1026,1053,1062,1070,1091,1128,1149,1239,1298
151,Luxembourg,49.8153,6.1296,0,0,0,0,0,0,0,...,3223,3270,3281,3292,3307,3373,3444,3480,3537,3550
155,Malta,35.9375,14.3754,0,0,0,0,0,0,0,...,350,370,378,384,393,399,412,422,426,427
159,Moldova,47.4116,28.3699,0,0,0,0,0,0,0,...,1438,1560,1662,1712,1934,2049,2154,2264,2378,2472
160,Monaco,43.7333,7.4167,0,0,0,0,0,0,0,...,90,92,93,93,93,93,93,94,94,94
162,Montenegro,42.5000,19.3000,0,0,0,0,0,0,0,...,255,263,272,274,283,288,303,303,307,308
169,Netherlands,52.1326,5.2913,0,0,0,0,0,0,0,...,23097,24413,25587,26551,27419,28153,29214,30449,31589,32655
174,North Macedonia,41.6086,21.7453,0,0,0,0,0,0,0,...,711,760,828,854,908,974,1081,1117,1170,1207
175,Norway,60.4720,8.4689,0,0,0,0,0,0,0,...,6314,6409,6525,6603,6623,6740,6896,6937,7036,7078
183,Poland,51.9194,19.1451,0,0,0,0,0,0,0,...,5955,6356,6674,6934,7202,7582,7918,8379,8742,9287
184,Portugal,39.3999,-8.2245,0,0,0,0,0,0,0,...,15472,15987,16585,16934,17448,18091,18841,19022,19685,20206
186,Romania,45.9432,24.9668,0,0,0,0,0,0,0,...,5467,5990,6300,6633,6879,7216,7707,8067,8418,8746
187,Russia,60.0000,90.0000,0,0,0,0,0,0,0,...,11917,13584,15770,18328,21102,24490,27938,32008,36793,42853
191,San Marino,43.9424,12.4578,0,0,0,0,0,0,0,...,344,356,356,356,371,372,426,435,455,461
194,Serbia,44.0165,21.0059,0,0,0,0,0,0,0,...,3105,3380,3630,4054,4465,4873,5318,5690,5994,6318
197,Slovakia,48.6690,19.6990,0,0,0,0,0,0,0,...,715,728,742,769,835,863,977,1049,1089,1161
198,Slovenia,46.1512,14.9955,0,0,0,0,0,0,0,...,1160,1188,1205,1212,1220,1248,1268,1304,1317,1330
201,Spain,40.0000,-4.0000,0,0,0,0,0,0,0,...,158273,163027,166831,170099,172541,177644,184948,190839,191726,198674
205,Sweden,63.0000,16.0000,0,0,0,0,0,0,0,...,9685,10151,10483,10948,11445,11927,12540,13216,13822,14385
206,Switzerland,46.8182,8.2275,0,0,0,0,0,0,0,...,24551,25107,25415,25688,25936,26336,26732,27078,27404,27740
213,Turkey,38.9637,35.2433,0,0,0,0,0,0,0,...,47029,52167,56956,61049,65111,69392,74193,78546,82329,86306
215,Ukraine,48.3794,31.1656,0,0,0,0,0,0,0,...,2203,2511,2777,3102,3372,3764,4161,4662,5106,5449
223,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,0,...,73758,78991,84279,88621,93873,98476,103093,108692,114217,120067
225,US,37.0902,-95.7129,1,1,2,2,5,5,5,...,496535,526396,555313,580619,607670,636350,667592,699706,732197,759086
227,Venezuela,6.4238,-66.5897,0,0,0,0,0,0,0,...,171,175,181,189,189,197,204,204,227,256

In [74]:
df_good = data_clean.reset_index()
del df_good['index']
df_good

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
0,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,416,433,446,467,475,494,518,539,548,562
1,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,601,601,638,646,659,673,673,696,704,713
2,Austria,47.5162,14.5501,0,0,0,0,0,0,0,...,13555,13806,13945,14041,14226,14336,14476,14595,14671,14749
3,Belarus,53.7098,27.9534,0,0,0,0,0,0,0,...,1981,2226,2578,2919,3281,3728,4204,4779,4779,4779
4,Belgium,50.8333,4.0000,0,0,0,0,0,0,0,...,26667,28018,29647,30589,31119,33573,34809,36138,37183,38496
5,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,0,...,901,946,1009,1037,1083,1110,1167,1214,1268,1285
6,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,0,...,635,661,675,685,713,747,800,846,878,894
7,Croatia,45.1000,15.2000,0,0,0,0,0,0,0,...,1495,1534,1600,1650,1704,1741,1791,1814,1832,1871
8,Cyprus,35.1264,33.4299,0,0,0,0,0,0,0,...,595,616,633,662,695,715,735,750,761,767
9,Czechia,49.8175,15.4730,0,0,0,0,0,0,0,...,5732,5831,5991,6059,6111,6216,6433,6549,6606,6746
10,Denmark,56.2639,9.5018,0,0,0,0,0,0,0,...,5819,5996,6174,6318,6511,6681,6879,7073,7242,7384
11,Estonia,58.5953,25.0136,0,0,0,0,0,0,0,...,1258,1304,1309,1332,1373,1400,1434,1459,1512,1528
12,Finland,64.0000,26.0000,0,0,0,0,0,0,0,...,2769,2905,2974,3064,3161,3237,3369,3489,3681,3783
13,France,46.2276,2.2137,0,0,2,3,3,3,4,...,90676,93790,120633,124298,130253,133470,145960,147969,147969,152894
14,Germany,51.0000,9.0000,0,0,0,0,0,1,4,...,122171,124908,127854,130072,131359,134753,137698,141397,143342,145184
15,Greece,39.0742,21.8243,0,0,0,0,0,0,0,...,2011,2081,2114,2145,2170,2192,2207,2224,2235,2235
16,Hungary,47.1625,19.5033,0,0,0,0,0,0,0,...,1190,1310,1410,1458,1512,1579,1652,1763,1834,1916
17,Iceland,64.9631,-19.0208,0,0,0,0,0,0,0,...,1675,1689,1701,1711,1720,1727,1739,1754,1760,1771
18,Ireland,53.1424,-7.6921,0,0,0,0,0,0,0,...,8089,8928,9655,10647,11479,12547,13271,13980,14758,15251
19,Italy,43.0000,12.0000,0,0,0,0,0,0,0,...,147577,152271,156363,159516,162488,165155,168941,172434,175925,178972
20,Latvia,56.8796,24.6032,0,0,0,0,0,0,0,...,612,630,651,655,657,666,675,682,712,727
21,Liechtenstein,47.1400,9.5500,0,0,0,0,0,0,0,...,79,79,79,79,79,79,79,79,79,81
22,Lithuania,55.1694,23.8813,0,0,0,0,0,0,0,...,999,1026,1053,1062,1070,1091,1128,1149,1239,1298
23,Luxembourg,49.8153,6.1296,0,0,0,0,0,0,0,...,3223,3270,3281,3292,3307,3373,3444,3480,3537,3550
24,Malta,35.9375,14.3754,0,0,0,0,0,0,0,...,350,370,378,384,393,399,412,422,426,427
25,Moldova,47.4116,28.3699,0,0,0,0,0,0,0,...,1438,1560,1662,1712,1934,2049,2154,2264,2378,2472
26,Monaco,43.7333,7.4167,0,0,0,0,0,0,0,...,90,92,93,93,93,93,93,94,94,94
27,Montenegro,42.5000,19.3000,0,0,0,0,0,0,0,...,255,263,272,274,283,288,303,303,307,308
28,Netherlands,52.1326,5.2913,0,0,0,0,0,0,0,...,23097,24413,25587,26551,27419,28153,29214,30449,31589,32655
29,North Macedonia,41.6086,21.7453,0,0,0,0,0,0,0,...,711,760,828,854,908,974,1081,1117,1170,1207
30,Norway,60.4720,8.4689,0,0,0,0,0,0,0,...,6314,6409,6525,6603,6623,6740,6896,6937,7036,7078
31,Poland,51.9194,19.1451,0,0,0,0,0,0,0,...,5955,6356,6674,6934,7202,7582,7918,8379,8742,9287
32,Portugal,39.3999,-8.2245,0,0,0,0,0,0,0,...,15472,15987,16585,16934,17448,18091,18841,19022,19685,20206
33,Romania,45.9432,24.9668,0,0,0,0,0,0,0,...,5467,5990,6300,6633,6879,7216,7707,8067,8418,8746
34,Russia,60.0000,90.0000,0,0,0,0,0,0,0,...,11917,13584,15770,18328,21102,24490,27938,32008,36793,42853
35,San Marino,43.9424,12.4578,0,0,0,0,0,0,0,...,344,356,356,356,371,372,426,435,455,461
36,Serbia,44.0165,21.0059,0,0,0,0,0,0,0,...,3105,3380,3630,4054,4465,4873,5318,5690,5994,6318
37,Slovakia,48.6690,19.6990,0,0,0,0,0,0,0,...,715,728,742,769,835,863,977,1049,1089,1161
38,Slovenia,46.1512,14.9955,0,0,0,0,0,0,0,...,1160,1188,1205,1212,1220,1248,1268,1304,1317,1330
39,Spain,40.0000,-4.0000,0,0,0,0,0,0,0,...,158273,163027,166831,170099,172541,177644,184948,190839,191726,198674
40,Sweden,63.0000,16.0000,0,0,0,0,0,0,0,...,9685,10151,10483,10948,11445,11927,12540,13216,13822,14385
41,Switzerland,46.8182,8.2275,0,0,0,0,0,0,0,...,24551,25107,25415,25688,25936,26336,26732,27078,27404,27740
42,Turkey,38.9637,35.2433,0,0,0,0,0,0,0,...,47029,52167,56956,61049,65111,69392,74193,78546,82329,86306
43,Ukraine,48.3794,31.1656,0,0,0,0,0,0,0,...,2203,2511,2777,3102,3372,3764,4161,4662,5106,5449
44,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,0,...,73758,78991,84279,88621,93873,98476,103093,108692,114217,120067
45,US,37.0902,-95.7129,1,1,2,2,5,5,5,...,496535,526396,555313,580619,607670,636350,667592,699706,732197,759086
46,Venezuela,6.4238,-66.5897,0,0,0,0,0,0,0,...,171,175,181,189,189,197,204,204,227,256

In [75]:
df_good.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,...,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000
mean,47.334819,11.869791,0.021277,0.021277,0.085106,0.106383,0.170213,0.191489,0.276596,0.319149,...,28283.425532,29677.021277,31516.063830,32689.574468,33925.893617,35293.617021,36980.659574,38453.936170,39735.659574,41148.978723
std,9.642851,25.575438,0.145865,0.145865,0.408059,0.520620,0.842335,0.850532,1.077479,1.162949,...,79314.850361,83652.802168,88291.686305,91943.668013,95840.970333,100010.923520,104816.685295,109490.777838,113999.502242,118058.402927
min,6.423800,-95.712900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,81.000000
25%,42.620100,6.773150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,713.000000,744.000000,785.000000,811.500000,871.500000,918.500000,1029.000000,1083.000000,1129.500000,1184.000000
50%,47.140000,15.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2203.000000,2511.000000,2777.000000,3064.000000,3281.000000,3373.000000,3444.000000,3489.000000,3681.000000,3783.000000
75%,52.637500,22.852800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,12736.000000,13695.000000,14857.500000,15487.500000,15837.000000,16213.500000,16658.500000,16808.500000,17221.500000,17728.500000
max,64.963100,90.000000,1.000000,1.000000,2.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,496535.000000,526396.000000,555313.000000,580619.000000,607670.000000,636350.000000,667592.000000,699706.000000,732197.000000,759086.000000

### Global Deaths corona

In [76]:
df_d = pd.read_csv('time_series_covid19_deaths_global.csv')
df_d

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,15,18,18,21,23,25,30,30,30,33
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,23,23,23,23,24,25,26,26,26,26
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,256,275,293,313,326,336,348,364,367,375
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,26,26,29,29,31,33,33,35,35,36
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
data_EU_US_d = df_d[df_d['Country/Region'].isin(['Andorra', 'Albania', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina',
                                          'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 
                                          'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein',
                                          'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands',
                                          'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino',
                                          'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine',
                                          'United Kingdom', 'US', 'Venezuela'])]
data_EU_US_d

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,23,23,23,23,24,25,26,26,26,26
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,26,26,29,29,31,33,33,35,35,36
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,319,337,350,368,384,393,410,431,443,452
22,NaN,Belarus,53.7098,27.9534,0,0,0,0,0,0,...,19,23,26,29,33,36,40,42,45,47
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,3019,3346,3600,3903,4157,4440,4857,5163,5453,5683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,British Virgin Islands,United Kingdom,18.4207,-64.6400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
251,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
256,"Bonaire, Sint Eustatius and Saba",Netherlands,12.1784,-68.2385,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
258,Falkland Islands (Malvinas),United Kingdom,-51.7963,-59.5236,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
259,Saint Pierre and Miquelon,France,46.8852,-56.3159,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
df_countries_only_d = data_EU_US_d[data_EU_US_d['Province/State'].isna()]
df_countries_only_d

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,23,23,23,23,24,25,26,26,26,26
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,26,26,29,29,31,33,33,35,35,36
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,319,337,350,368,384,393,410,431,443,452
22,NaN,Belarus,53.7098,27.9534,0,0,0,0,0,0,...,19,23,26,29,33,36,40,42,45,47
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,3019,3346,3600,3903,4157,4440,4857,5163,5453,5683
27,NaN,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,...,36,37,39,39,40,41,43,46,47,48
30,NaN,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,...,25,28,29,32,35,36,38,41,41,42
87,NaN,Croatia,45.1000,15.2000,0,0,0,0,0,0,...,21,21,23,25,31,33,35,36,39,47
90,NaN,Cyprus,35.1264,33.4299,0,0,0,0,0,0,...,10,10,11,12,12,12,12,12,12,12
91,NaN,Czechia,49.8175,15.4730,0,0,0,0,0,0,...,119,129,138,143,161,166,169,173,181,186
94,NaN,Denmark,56.2639,9.5018,0,0,0,0,0,0,...,247,260,273,285,299,309,321,336,346,355
102,NaN,Estonia,58.5953,25.0136,0,0,0,0,0,0,...,24,24,25,28,31,35,36,38,38,40
106,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,48,49,56,59,64,72,75,82,90,94
116,NaN,France,46.2276,2.2137,0,0,0,0,0,0,...,13197,13832,14393,14967,15729,17167,17920,18681,19323,19718
120,NaN,Germany,51.0000,9.0000,0,0,0,0,0,0,...,2767,2736,3022,3194,3294,3804,4052,4352,4459,4586
122,NaN,Greece,39.0742,21.8243,0,0,0,0,0,0,...,92,93,98,99,101,102,105,108,110,113
129,NaN,Hungary,47.1625,19.5033,0,0,0,0,0,0,...,77,85,99,109,122,134,142,156,172,189
130,NaN,Iceland,64.9631,-19.0208,0,0,0,0,0,0,...,7,8,8,8,8,8,8,9,9,9
135,NaN,Ireland,53.1424,-7.6921,0,0,0,0,0,0,...,287,320,334,365,406,444,486,530,571,610
137,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,18849,19468,19899,20465,21067,21645,22170,22745,23227,23660
146,NaN,Latvia,56.8796,24.6032,0,0,0,0,0,0,...,3,3,5,5,5,5,5,5,5,5
149,NaN,Liechtenstein,47.1400,9.5500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
150,NaN,Lithuania,55.1694,23.8813,0,0,0,0,0,0,...,22,23,23,24,29,30,32,33,33,35
151,NaN,Luxembourg,49.8153,6.1296,0,0,0,0,0,0,...,54,62,66,69,67,69,69,72,72,73
155,NaN,Malta,35.9375,14.3754,0,0,0,0,0,0,...,2,3,3,3,3,3,3,3,3,3
159,NaN,Moldova,47.4116,28.3699,0,0,0,0,0,0,...,29,30,31,35,40,46,54,56,57,67
160,NaN,Monaco,43.7333,7.4167,0,0,0,0,0,0,...,1,1,1,1,1,3,3,3,3,3
162,NaN,Montenegro,42.5000,19.3000,0,0,0,0,0,0,...,2,2,3,3,4,4,4,5,5,5
169,NaN,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,2511,2643,2737,2823,2945,3134,3315,3459,3601,3684
174,NaN,North Macedonia,41.6086,21.7453,0,0,0,0,0,0,...,32,34,34,38,44,45,46,49,49,51
175,NaN,Norway,60.4720,8.4689,0,0,0,0,0,0,...,113,119,128,134,139,150,152,161,164,165
183,NaN,Poland,51.9194,19.1451,0,0,0,0,0,0,...,181,208,232,245,263,286,314,332,347,360
184,NaN,Portugal,39.3999,-8.2245,0,0,0,0,0,0,...,435,470,504,535,567,599,629,657,687,714
186,NaN,Romania,45.9432,24.9668,0,0,0,0,0,0,...,270,291,316,331,351,372,392,411,421,451
187,NaN,Russia,60.0000,90.0000,0,0,0,0,0,0,...,94,106,130,148,170,198,232,273,313,361
191,NaN,San Marino,43.9424,12.4578,0,0,0,0,0,0,...,34,35,35,35,36,36,38,39,39,39
194,NaN,Serbia,44.0165,21.0059,0,0,0,0,0,0,...,71,74,80,85,94,99,103,110,117,122
197,NaN,Slovakia,48.6690,19.6990,0,0,0,0,0,0,...,2,2,2,2,2,6,8,9,11,12
198,NaN,Slovenia,46.1512,14.9955,0,0,0,0,0,0,...,45,50,53,55,56,61,61,66,70,74
201,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,16081,16606,17209,17756,18056,18708,19315,20002,20043,20453
205,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,870,887,899,919,1033,1203,1333,1400,1511,1540
206,NaN,Switzerland,46.8182,8.2275,0,0,0,0,0,0,...,1002,1036,1106,1138,1174,1239,1281,1327,1368,1393
213,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,1006,1101,1198,1296,1403,1518,1643,1769,1890,2017
215,NaN,Ukraine,48.3794,31.1656,0,0,0,0,0,0,...,69,73,83,93,98,108,116,125,133,141
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,8958,9875,10612,11329,12107,12868,13729,14576,15464,16060
225,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,18586,20462,22019,23528,25831,28325,32916,36773,38664,40661
227,NaN,Venezuela,6.4238,-66.5897,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9

In [79]:
data_clean_d = df_countries_only_d.drop(['Province/State'], axis=1)
data_clean_d

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20
1,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,23,23,23,23,24,25,26,26,26,26
3,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,26,26,29,29,31,33,33,35,35,36
16,Austria,47.5162,14.5501,0,0,0,0,0,0,0,...,319,337,350,368,384,393,410,431,443,452
22,Belarus,53.7098,27.9534,0,0,0,0,0,0,0,...,19,23,26,29,33,36,40,42,45,47
23,Belgium,50.8333,4.0000,0,0,0,0,0,0,0,...,3019,3346,3600,3903,4157,4440,4857,5163,5453,5683
27,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,0,...,36,37,39,39,40,41,43,46,47,48
30,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,0,...,25,28,29,32,35,36,38,41,41,42
87,Croatia,45.1000,15.2000,0,0,0,0,0,0,0,...,21,21,23,25,31,33,35,36,39,47
90,Cyprus,35.1264,33.4299,0,0,0,0,0,0,0,...,10,10,11,12,12,12,12,12,12,12
91,Czechia,49.8175,15.4730,0,0,0,0,0,0,0,...,119,129,138,143,161,166,169,173,181,186
94,Denmark,56.2639,9.5018,0,0,0,0,0,0,0,...,247,260,273,285,299,309,321,336,346,355
102,Estonia,58.5953,25.0136,0,0,0,0,0,0,0,...,24,24,25,28,31,35,36,38,38,40
106,Finland,64.0000,26.0000,0,0,0,0,0,0,0,...,48,49,56,59,64,72,75,82,90,94
116,France,46.2276,2.2137,0,0,0,0,0,0,0,...,13197,13832,14393,14967,15729,17167,17920,18681,19323,19718
120,Germany,51.0000,9.0000,0,0,0,0,0,0,0,...,2767,2736,3022,3194,3294,3804,4052,4352,4459,4586
122,Greece,39.0742,21.8243,0,0,0,0,0,0,0,...,92,93,98,99,101,102,105,108,110,113
129,Hungary,47.1625,19.5033,0,0,0,0,0,0,0,...,77,85,99,109,122,134,142,156,172,189
130,Iceland,64.9631,-19.0208,0,0,0,0,0,0,0,...,7,8,8,8,8,8,8,9,9,9
135,Ireland,53.1424,-7.6921,0,0,0,0,0,0,0,...,287,320,334,365,406,444,486,530,571,610
137,Italy,43.0000,12.0000,0,0,0,0,0,0,0,...,18849,19468,19899,20465,21067,21645,22170,22745,23227,23660
146,Latvia,56.8796,24.6032,0,0,0,0,0,0,0,...,3,3,5,5,5,5,5,5,5,5
149,Liechtenstein,47.1400,9.5500,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
150,Lithuania,55.1694,23.8813,0,0,0,0,0,0,0,...,22,23,23,24,29,30,32,33,33,35
151,Luxembourg,49.8153,6.1296,0,0,0,0,0,0,0,...,54,62,66,69,67,69,69,72,72,73
155,Malta,35.9375,14.3754,0,0,0,0,0,0,0,...,2,3,3,3,3,3,3,3,3,3
159,Moldova,47.4116,28.3699,0,0,0,0,0,0,0,...,29,30,31,35,40,46,54,56,57,67
160,Monaco,43.7333,7.4167,0,0,0,0,0,0,0,...,1,1,1,1,1,3,3,3,3,3
162,Montenegro,42.5000,19.3000,0,0,0,0,0,0,0,...,2,2,3,3,4,4,4,5,5,5
169,Netherlands,52.1326,5.2913,0,0,0,0,0,0,0,...,2511,2643,2737,2823,2945,3134,3315,3459,3601,3684
174,North Macedonia,41.6086,21.7453,0,0,0,0,0,0,0,...,32,34,34,38,44,45,46,49,49,51
175,Norway,60.4720,8.4689,0,0,0,0,0,0,0,...,113,119,128,134,139,150,152,161,164,165
183,Poland,51.9194,19.1451,0,0,0,0,0,0,0,...,181,208,232,245,263,286,314,332,347,360
184,Portugal,39.3999,-8.2245,0,0,0,0,0,0,0,...,435,470,504,535,567,599,629,657,687,714
186,Romania,45.9432,24.9668,0,0,0,0,0,0,0,...,270,291,316,331,351,372,392,411,421,451
187,Russia,60.0000,90.0000,0,0,0,0,0,0,0,...,94,106,130,148,170,198,232,273,313,361
191,San Marino,43.9424,12.4578,0,0,0,0,0,0,0,...,34,35,35,35,36,36,38,39,39,39
194,Serbia,44.0165,21.0059,0,0,0,0,0,0,0,...,71,74,80,85,94,99,103,110,117,122
197,Slovakia,48.6690,19.6990,0,0,0,0,0,0,0,...,2,2,2,2,2,6,8,9,11,12
198,Slovenia,46.1512,14.9955,0,0,0,0,0,0,0,...,45,50,53,55,56,61,61,66,70,74
201,Spain,40.0000,-4.0000,0,0,0,0,0,0,0,...,16081,16606,17209,17756,18056,18708,19315,20002,20043,20453
205,Sweden,63.0000,16.0000,0,0,0,0,0,0,0,...,870,887,899,919,1033,1203,1333,1400,1511,1540
206,Switzerland,46.8182,8.2275,0,0,0,0,0,0,0,...,1002,1036,1106,1138,1174,1239,1281,1327,1368,1393
213,Turkey,38.9637,35.2433,0,0,0,0,0,0,0,...,1006,1101,1198,1296,1403,1518,1643,1769,1890,2017
215,Ukraine,48.3794,31.1656,0,0,0,0,0,0,0,...,69,73,83,93,98,108,116,125,133,141
223,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,0,...,8958,9875,10612,11329,12107,12868,13729,14576,15464,16060
225,US,37.0902,-95.7129,0,0,0,0,0,0,0,...,18586,20462,22019,23528,25831,28325,32916,36773,38664,40661
227,Venezuela,6.4238,-66.5897,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9

In [85]:
df_good_d = data_clean_d.reset_index()
del df_good_d['index']
df_good_d
df_good_d = df_good_d.drop(columns=['Lat', 'Long']).set_index("Country/Region")
df_good_d = df_good_d.T.reset_index()
df_good_d = df_good_d.rename(columns={'index':'Date'})
df_good_d.Date = df_good_d.Date.astype('datetime64')
df_good_d

Country/Region,Date,Albania,Andorra,Austria,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Croatia,Cyprus,...,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom,US,Venezuela
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2020-04-15,25,33,393,36,4440,41,36,33,12,...,6,61,18708,1203,1239,1518,108,12868,28325,9
85,2020-04-16,26,33,410,40,4857,43,38,35,12,...,8,61,19315,1333,1281,1643,116,13729,32916,9
86,2020-04-17,26,35,431,42,5163,46,41,36,12,...,9,66,20002,1400,1327,1769,125,14576,36773,9
87,2020-04-18,26,35,443,45,5453,47,41,39,12,...,11,70,20043,1511,1368,1890,133,15464,38664,9
88,2020-04-19,26,36,452,47,5683,48,42,47,12,...,12,74,20453,1540,1393,2017,141,16060,40661,9

# trasposed Global Deaths

In [86]:
df_good_d = df_good_d.drop(columns=['Venezuela'], axis=1)
df_good_d

Country/Region,Date,Albania,Andorra,Austria,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Croatia,Cyprus,...,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom,US
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2020-04-15,25,33,393,36,4440,41,36,33,12,...,99,6,61,18708,1203,1239,1518,108,12868,28325
85,2020-04-16,26,33,410,40,4857,43,38,35,12,...,103,8,61,19315,1333,1281,1643,116,13729,32916
86,2020-04-17,26,35,431,42,5163,46,41,36,12,...,110,9,66,20002,1400,1327,1769,125,14576,36773
87,2020-04-18,26,35,443,45,5453,47,41,39,12,...,117,11,70,20043,1511,1368,1890,133,15464,38664
88,2020-04-19,26,36,452,47,5683,48,42,47,12,...,122,12,74,20453,1540,1393,2017,141,16060,40661

# trasposed Global confirmed

In [87]:
df_good = data_clean.reset_index()
del df_good['index']
df_good = df_good.drop(columns=['Lat', 'Long']).set_index("Country/Region")
df_good = df_good.T.reset_index()
df_good = df_good.rename(columns={'index':'Date'})
df_good.Date = df_good.Date.astype('datetime64')
df_good = df_good.drop(columns=['Venezuela'], axis=1)
df_good

Country/Region,Date,Albania,Andorra,Austria,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Croatia,Cyprus,...,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom,US
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2020-04-15,494,673,14336,3728,33573,1110,747,1741,715,...,4873,863,1248,177644,11927,26336,69392,3764,98476,636350
85,2020-04-16,518,673,14476,4204,34809,1167,800,1791,735,...,5318,977,1268,184948,12540,26732,74193,4161,103093,667592
86,2020-04-17,539,696,14595,4779,36138,1214,846,1814,750,...,5690,1049,1304,190839,13216,27078,78546,4662,108692,699706
87,2020-04-18,548,704,14671,4779,37183,1268,878,1832,761,...,5994,1089,1317,191726,13822,27404,82329,5106,114217,732197
88,2020-04-19,562,713,14749,4779,38496,1285,894,1871,767,...,6318,1161,1330,198674,14385,27740,86306,5449,120067,759086