In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
#call the data
ppl = pd.read_csv('5e2073ba-5d1d-405c-8fad-5d51b9df65ec_Data.csv')

#create a DataFrame and a save copy of the data
ppl_df = pd.DataFrame(ppl)
ppl_df_copy = ppl_df.copy()
ppl_df

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,"Population, total",SP.POP.TOTL,World,WLD,3.031438e+09,3.072481e+09,3.125457e+09,3.190564e+09,3.256065e+09,3.322973e+09,...,6.921872e+09,7.002861e+09,7.085763e+09,7.169640e+09,7.254228e+09,7.338965e+09,7.424282e+09,7.509066e+09,7.591933e+09,7673533972
1,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,World,WLD,3.717277e+01,3.734940e+01,3.757152e+01,3.778132e+01,3.790233e+01,3.791627e+01,...,2.701544e+01,2.685832e+01,2.669412e+01,2.652925e+01,2.636945e+01,2.621570e+01,2.607412e+01,2.593527e+01,2.579597e+01,25.6488355687986
2,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,World,WLD,5.785721e+01,5.763363e+01,5.738587e+01,5.716639e+01,5.704094e+01,5.702587e+01,...,6.541742e+01,6.547377e+01,6.552496e+01,6.556244e+01,6.557582e+01,6.556137e+01,6.549911e+01,6.541891e+01,6.533090e+01,65.2520417484969
3,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,World,WLD,4.970019e+00,5.016976e+00,5.042611e+00,5.052289e+00,5.056728e+00,5.057858e+00,...,7.567142e+00,7.667905e+00,7.780917e+00,7.908309e+00,8.054729e+00,8.222930e+00,8.426766e+00,8.645822e+00,8.873129e+00,9.09912268270451
4,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,World,WLD,6.424915e+01,6.480487e+01,6.547171e+01,6.609010e+01,6.644759e+01,6.648961e+01,...,4.129701e+01,4.102150e+01,4.073886e+01,4.046409e+01,4.021216e+01,3.998651e+01,3.980836e+01,3.964490e+01,3.948510e+01,39.307330269175
5,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,World,WLD,8.590145e+00,8.704945e+00,8.787199e+00,8.837866e+00,8.865085e+00,8.869411e+00,...,1.156747e+01,1.171141e+01,1.187474e+01,1.206226e+01,1.228308e+01,1.254234e+01,1.286547e+01,1.321609e+01,1.358183e+01,13.9445792798212
6,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,World,WLD,1.771450e+01,1.499922e+01,1.395259e+01,1.373561e+01,1.379051e+01,1.320554e+01,...,7.849113e+00,7.767544e+00,7.717648e+00,7.654374e+00,7.595982e+00,7.592877e+00,7.544485e+00,7.541174e+00,7.528826e+00,..
7,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,World,WLD,3.175268e+01,3.103142e+01,3.488312e+01,3.605600e+01,3.494747e+01,3.433291e+01,...,1.978141e+01,1.959963e+01,1.948581e+01,1.927787e+01,1.919549e+01,1.897548e+01,1.896272e+01,1.863350e+01,1.817486e+01,..
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Last Updated: 07/01/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#delete indexing
blankIndex=[''] * len(ppl_df)
ppl_df.index=blankIndex

In [4]:
#clean unnecessary columns
ppl_df = ppl_df.drop(columns=['Country Name', 'Country Code', 'Series Code'])

#reduce the list for only the data we need
ppl_df = ppl_df.head(4)
ppl_df

,Series Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],1968 [YR1968],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
,"Population, total",3.031438e+09,3.072481e+09,3.125457e+09,3.190564e+09,3.256065e+09,3.322973e+09,3.393032e+09,3.462460e+09,3.532827e+09,...,6.921872e+09,7.002861e+09,7.085763e+09,7.169640e+09,7.254228e+09,7.338965e+09,7.424282e+09,7.509066e+09,7.591933e+09,7673533972
,Population ages 0-14 (% of total population),3.717277e+01,3.734940e+01,3.757152e+01,3.778132e+01,3.790233e+01,3.791627e+01,3.800383e+01,3.795737e+01,3.783012e+01,...,2.701544e+01,2.685832e+01,2.669412e+01,2.652925e+01,2.636945e+01,2.621570e+01,2.607412e+01,2.593527e+01,2.579597e+01,25.6488355687986
,Population ages 15-64 (% of total population),5.785721e+01,5.763363e+01,5.738587e+01,5.716639e+01,5.704094e+01,5.702587e+01,5.688160e+01,5.687404e+01,5.695171e+01,...,6.541742e+01,6.547377e+01,6.552496e+01,6.556244e+01,6.557582e+01,6.556137e+01,6.549911e+01,6.541891e+01,6.533090e+01,65.2520417484969
,Population ages 65 and above (% of total popul...,4.970019e+00,5.016976e+00,5.042611e+00,5.052289e+00,5.056728e+00,5.057858e+00,5.114568e+00,5.168587e+00,5.218163e+00,...,7.567142e+00,7.667905e+00,7.780917e+00,7.908309e+00,8.054729e+00,8.222930e+00,8.426766e+00,8.645822e+00,8.873129e+00,9.09912268270451

In [5]:
#create a list for the columns
years = ['Year']
for i in range(1960,2020):
    years.append(i)
ppl_df.columns = [years]

#Transpose the data so is easier to analy
ppl_df = ppl_df.T
ppl_df

,,,,
Year,"Population, total",Population ages 0-14 (% of total population),Population ages 15-64 (% of total population),Population ages 65 and above (% of total popul...
1960,3.03144e+09,37.1728,57.8572,4.97002
1961,3.07248e+09,37.3494,57.6336,5.01698
1962,3.12546e+09,37.5715,57.3859,5.04261
1963,3.19056e+09,37.7813,57.1664,5.05229
...,...,...,...,...
2015,7.33896e+09,26.2157,65.5614,8.22293
2016,7.42428e+09,26.0741,65.4991,8.42677
2017,7.50907e+09,25.9353,65.4189,8.64582
2018,7.59193e+09,25.796,65.3309,8.87313
2019,7673533972,25.6488355687986,65.2520417484969,9.09912268270451

In [ ]:
#Mar intermision

In [ ]:
def get_data():
    return ppl_df