# DOW JONES DATASET
## Jan 2010 to Jul 2020

In [2]:
import pandas as pd
import numpy as np

In [3]:
dow = pd.read_csv('data/^DJI-2.csv')
dow_original = dow.copy()

In [4]:
dow.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,10583.959961,179780000
1,2010-01-05,10584.559570,10584.559570,10522.519531,10572.019531,10572.019531,188540000
2,2010-01-06,10564.719727,10594.990234,10546.549805,10573.679688,10573.679688,186040000
3,2010-01-07,10571.110352,10612.370117,10505.209961,10606.860352,10606.860352,217390000
4,2010-01-08,10606.400391,10619.400391,10554.330078,10618.190430,10618.190430,172710000

In [5]:
dow.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2643,2020-07-06,25996.080078,26297.529297,25996.080078,26287.029297,26287.029297,340690000
2644,2020-07-07,26172.009766,26174.929688,25866.580078,25890.179688,25890.179688,346820000
2645,2020-07-08,25950.060547,26109.490234,25816.250000,26067.279297,26067.279297,337300000
2646,2020-07-09,26094.919922,26103.279297,25523.509766,25706.089844,25706.089844,387610000
2647,2020-07-10,25690.349609,26101.320313,25637.500000,26075.300781,26075.300781,338170000

In [6]:
dow.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [8]:
dow.to_csv("data/dowjones.csv", decimal = ",")