In [17]:
import pandas as pd
import numpy as np

In [9]:
gdp = pd.read_csv('data/USALORSGPNOSTSAM.csv')
gdp_original = gdp.copy()

In [10]:
gdp.head()

         DATE  USALORSGPNOSTSAM
0  1960-01-01        100.996570
1  1960-02-01        101.007025
2  1960-03-01        100.928952
3  1960-04-01        100.764899
4  1960-05-01        100.534346

In [11]:
gdp.tail()

           DATE  USALORSGPNOSTSAM
718  2019-11-01         99.941362
719  2019-12-01         99.937230
720  2020-01-01         99.938690
721  2020-02-01         99.943500
722  2020-03-01         94.948669

In [12]:
gdp_clean=gdp.rename(columns={'USALORSGPNOSTSAM':'GDP_US'})
gdp_clean

           DATE      GDP_US
0    1960-01-01  100.996570
1    1960-02-01  101.007025
2    1960-03-01  100.928952
3    1960-04-01  100.764899
4    1960-05-01  100.534346
..          ...         ...
718  2019-11-01   99.941362
719  2019-12-01   99.937230
720  2020-01-01   99.938690
721  2020-02-01   99.943500
722  2020-03-01   94.948669

[723 rows x 2 columns]

In [19]:
gdp_clean['GDP_growth'] = gdp_clean.GDP_US.pct_change().mul(100).round(2)
gdp_clean

# check how to turn it into %

           DATE      GDP_US  GDP_growth
0    1960-01-01  100.996570         NaN
1    1960-02-01  101.007025        0.01
2    1960-03-01  100.928952       -0.08
3    1960-04-01  100.764899       -0.16
4    1960-05-01  100.534346       -0.23
..          ...         ...         ...
718  2019-11-01   99.941362       -0.01
719  2019-12-01   99.937230       -0.00
720  2020-01-01   99.938690        0.00
721  2020-02-01   99.943500        0.00
722  2020-03-01   94.948669       -5.00

[723 rows x 3 columns]

In [20]:
gdp_clean.dtypes

DATE           object
GDP_US        float64
GDP_growth    float64
dtype: object

In [21]:
gdp_clean.to_csv('data/gdp_clean-csv')